$text: #000000;
$asidetext: #9197B3;
$tablebody: #292D32;
$tablehead: #B5B7C0;
$activeButtonColor: #008767;
$activeButtonBackground: #16C09861;
$inActiveButtonColor: #DF0404;
$inActiveButtonBackground: #FFC5C5;
$hoverBackground: #5932EA;
$hoverColor: #ffffff;
$pageBackground: #EEEEEE;
$bodyBackground: #FAFBFF;
$headingPseudoColor: #838383;
$roleColor: #757575;




