@import "./mixins";

.header-wrapper {
    @include flex(row, space-between, center);
    background-color: #FFF;
    padding-top: 17px;
    padding-bottom: 17px;
    height: 50px;

}

.header-nav {
    display: none;
    list-style-type: none;

    &-selected-menu {
        display: block;
        position: absolute;
        top: 175px;
        width: 200px;
        left: 50%;
        margin-left: -100px;
        z-index: 10;
        opacity: 0;
        transition: opacity .5s linear;
    }

    &-list {
        @include flex(column, center, center);
        gap: 16px;

        &__item-link {
            color: $white;
            @include fonts(400, 14px, 18px);
        }
    }
}

.logo {
    color: $text;
    text-transform: uppercase;
    display: flex;
    gap: 8px;

    &-text {
        @include fonts(700, 14px, 18px);
        margin: 0;
    }
}

.header-basket {
    display: none;
}

@include breakpoint-mf("md") {
    .header-basket {
        display: block;
    }

    .header-menu {
        display: none;
    }

    .header-nav {
        display: flex;
        order: 1;

        &-list {
            flex-direction: row;

            &__item-link {
                color: $text;
            }
        }

    }

    .logo {
        order: 2;
        position: absolute;
        top: 17px;
        width: 124px;
        left: 50%;
        margin-left: -62px;
    }

    .header-shopping-cart {
        order: 3;
    }
}

.selected-menu {
    width: 100vw;
    height: 100vh;
    background-color: $background;
    position: absolute;
    top: 50px;
    left: 100%;
    z-index: 5;
    transition: left .4s ease-out;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    left: 100%;
    z-index: 4;
    transition: opacity .2s ease-out;
}