.recall {
    margin-bottom: 80px;

    @include breakpoint-mf("md") {
        margin-bottom: 100px;
    }

    &-container-flex {
        @include breakpoint-mf("xl") {
            @include flex(row, center, center);
        }
    }

    &-title--position {
        width: 100%;

        @include breakpoint-mf("sm") {
            width: 60%;
        }

        @include breakpoint-mf("md") {
            width: 70%;
        }

        @include breakpoint-mf("xl") {
            width: 85%;
            margin-left: 0;
            text-align: left;
        }
    }

    &-text {
        text-align: center;
        margin: 20px auto 40px;
        width: 80%;
        @include fonts(400, 14px, 18px);
        @include breakpoint-mf("md") {
            @include fonts(400, 18px, 24px);
            width: 70%;
        }
        @include breakpoint-mf("xl") {
            text-align: left;
            margin-left: 0;
        }
    }

    &-container {
        position: relative;
        width: 335px;
        margin: 0 auto;
        @include breakpoint-mf("xl") {
margin-left: 0;
        }
    }

    &-input {
        width: 335px;
        height: 48px;
        border-radius: 100px;
        border: 1px solid $input;
        color: $input;
        outline: none;
        margin-bottom: 40px;
        padding: 15px 24px;

        &:focus {
            color: $text;
        }

        @include breakpoint-mf("md") {
            margin-bottom: 80px;
        }
    }

    &-button {
        position: absolute;
        background-color: $orange;
        width: 105px;
        height: 48px;
        border-radius: 100px;
        padding: 15px 35px;
        color: $white;
        border: none;
        top: 0;
        right: 0;
        @include fonts(400, 14px, 18px);
        opacity: .6;
        cursor: not-allowed;

        &--active {
            opacity: 1;
            cursor: pointer;
        }
    }

    &-photo {
        display: block;
        margin: 0 auto;
        margin-bottom: 80px;
    }
}