.order-pop-up {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    z-index: 7;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: $white;
    overflow-y: auto;
    border-radius: 20px;

    &-container-title {
        @include flex(row, space-between, flex-start);
    }

    &-title {
        @include fonts(700, 28px, 28px);
        margin: 0;
        text-transform: uppercase;
        color: $text;
    }

    &-close {

        width: 24px;
        height: 24px;
        background-image: url("images/svg/close.svg");
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &-list {
        @include flex(column, center, center);

        @include breakpoint-mf("md") {
            @include flex(row, center, center);
        }

        gap: 12px;
        margin: 40px 0 40px;

        &__item {
            background-color: $pink;
            border-radius: 10px;
            padding: 20px 20px 8px;
            height: 119px;
            width: 100%;

            @include breakpoint-mf("md") {
                width: 33.33%;
                height: 250px;
                padding-top: 40px;
            }
        }
    }

    &-form {
        @include flex(column, center, center);
        gap: 14px;
        width: 295px;

        @include breakpoint-mf("md") {
            width: 360px;
            margin-left: 0;
        }

        margin: 0 auto;

        &-label {
            width: 100%;
        }

        &__item {
            margin-top: 14px;
            width: 100%;
            height: 46px;
            border-radius: 100px;
            border: 1px solid $input;
            padding: 14px 24px;
            @include fonts(400, 14px, 18px);

            @include breakpoint-mf("md") {
                height: 48px;
            }
            &::placeholder{
                color: gray;
            }
            &:focus:not(.order-pop-up-form__item--submit) {
                outline: none;
                border: 2px solid $orange;
                background-color: $pink;
            }

            &--error {
                display: block;
                @include fonts(400, 14px, 18px);
                text-align: center;
                width: 100%;
                z-index: -2;
                color: $white;
                background-color: #900;
                border-radius: 5px;
                margin-top: 2px;
                &.active {
                    padding: 0.3em;

                }
                &.active-true {
                    background-color: $background;
                }
            }


            &--comments {
                height: 132px;
                border-radius: 20px;
                resize: none;

                @include breakpoint-mf("md") {
                    height: 145px;
                }
            }

            &--submit {
                background: $orange;
                color: $white;
                padding: 0;
                text-align: center;
                width: 92px;
                height: 42px;
                border: none;
                margin-top: 6px;
                margin-left: 0;
                align-self: flex-start;
                cursor: pointer;

                @include breakpoint-mf("md") {
                    width: 114px;
                    height: 48px;
                }
            }
        }
    }

    &-container-section {
        position: relative;
    }

    &-image {
        display: none;

        @include breakpoint-mf("md") {
            display: block;
            position: absolute;
            bottom: -40px;
            right: 0;
            overflow: hidden;

            @include breakpoint-mf("xl") {
                left: 50%;
            }
        }
    }

}

.order-list {
    position: relative;

    &-title {
        @include fonts(700, 18px, 24px);
        color: $text;
        margin-bottom: 5px;
        margin-top: 0;
    }

    &-checkbox {
        position: absolute;
        top: 14px;
        right: 14px;
        z-index: -1;
        opacity: 0;

        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        &+label::before {
            content: "";
            position: absolute;
            top: 14px;
            right: 14px;
            display: inline-block;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 2px solid $background;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        &:checked+label::before {
            background-image: url("images/svg/pick.svg");
        }
    }

    &-categorie {
        position: absolute;
        top: 45px;
        left: 20px;
        margin: 0;
        @include fonts(400, 14px, 18px);
        color: $text;

        @include breakpoint-mf("md") {
            top: 70px;
        }
    }

    &-image {
        position: absolute;
        bottom: 8px;
        right: 30px;

        @include breakpoint-mf("md") {
            display: block;
            position: static;
            margin: 6px auto 14px;

        }

    }
}