<aside class="aside">
    <a href="#" class="aside-logo">
        <img class="aside-logo__img" src="images/svg/logo.svg" alt="logo" width="37" height="37">
        <h1 class="aside-logo__heading">Dashboard</h1>
    </a>
    <ul class="aside-list">
        <li class="aside-list__item">
            <img class="aside-list__item-icon" src="images/svg/key.svg" alt="key" width="20" height="20">
            <img class="aside-list__item-icon--hover" src="images/svg/key-hover.svg" alt="key" width="20" height="20">
            <p class="aside-list__item-name">Dashboard</p>
        </li>
        <li class="aside-list__item">
            <img class="aside-list__item-icon" src="images/svg/3d.svg" alt="3d" width="20" height="20">
            <img class="aside-list__item-icon--hover" src="images/svg/3d-hover.svg" alt="3d" width="20" height="20">
            <p class="aside-list__item-name">Product</p>
        </li>
        <li class="aside-list__item" id="customers">
            <img class="aside-list__item-icon" src="images/svg/user.svg" alt="user" width="20" height="20">
            <img class="aside-list__item-icon--hover" src="images/svg/user-hover.svg" alt="user" width="20" height="20">
            <p class="aside-list__item-name">Customers</p>
        </li>
        <li class="aside-list__item">
            <img class="aside-list__item-icon" src="images/svg/wallet.svg" alt="wallet" width="20" height="20">
            <img class="aside-list__item-icon--hover" src="images/svg/wallet-hover.svg" alt="wallet" width="20" height="20">
            <p class="aside-list__item-name">Income</p>
        </li>
        <li class="aside-list__item">
            <img class="aside-list__item-icon" src="images/svg/discount.svg" alt="discount" width="20" height="20">
            <img class="aside-list__item-icon--hover" src="images/svg/discount-hover.svg" alt="discount" width="20" height="20">
            <p class="aside-list__item-name">Promote</p>
        </li>
        <li class="aside-list__item">
            <img class="aside-list__item-icon" src="images/svg/message.svg" alt="message" width="20" height="20">
            <img class="aside-list__item-icon--hover" src="images/svg/message-hover.svg" alt="message" width="20" height="20">
            <p class="aside-list__item-name">Help</p>
        </li>
    </ul>
    <div class="aside-admin">
        <img class="aside-admin__photo" src="images/icons/icon-user.png" alt="admin" width="42" height="42">
        <div class="aside-admin__info">
            <p class="aside-admin__info--name">Evano</p>
            <p class="aside-admin__info--role">Project Manager</p>
        </div>
    </div>
</aside>