<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="#" class="logo">
                <img src="images/svg/logo.svg" alt="logo" width="16" height="16">
                <h1 class="logo-text">Veggieboost</h1>
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">How It
                            Works</a>
                    </li>
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">Vegetables</a>
                    </li>
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">Contacts</a>
                    </li>
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">
                            <img src="images/svg/navbasket.svg" alt="basket" width="20" height="20">
                        </a></li>
                </ul>
            </nav>
            <div class="header-shopping-cart">
                <a class="header-basket" href="#">
                    <img src="images/svg/shoppingcart.svg" alt="shopping-cart" width="20" height="20">
                </a>
                <a href="#" class="header-menu">
                    <img src="images/svg/menuicon.svg" alt="" width="20" height="20">
                </a>
            </div>
        </div>
    </div>
</header>