<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="#" class="logo">
                <svg class="logo-icon">
                    <use xlink:href="images/svg/sprite.svg#logo-icon"></use>
                  </svg>
                <h1 class="logo-text">Veggieboost</h1>
            </a>
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">How It
                            Works</a>
                    </li>
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">Vegetables</a>
                    </li>
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">Contacts</a>
                    </li>
                    <li class="header-nav-list__item"><a class="header-nav-list__item-link" href="#">
                        <svg class="logo-basket">
                            <use xlink:href="images/svg/sprite.svg#logo-basket"></use>
                          </svg>
                        </a></li>
                </ul>
            </nav>
            <div class="header-shopping-cart">
                <a class="header-basket" href="#">
                    <svg class="logo-basket">
                        <use xlink:href="images/svg/sprite.svg#cart"></use>
                      </svg>
                </a>
                <a href="#" class="header-menu">
                    <svg class="header-menu__icon">
                        <use xlink:href="images/svg/sprite.svg#header-menu-icon"></use>
                      </svg>
                </a>
            </div>
        </div>
    </div>
</header>