<section class="order-info">
    <div class="container">
        <div class="order-info-header-wrap">
            <h3 class="section-title section-title--position">To order your vegetable basket, simply follow
                these easy steps</h3>
            <img class="order-info-img" src="images/photo/info1.png" alt="vegetables" width="335" height="158">
        </div>
        <div class="order-info-text-wrap">
            <p class="order-info-text-wrap__item">Our baskets are assembled with care and delivered straight to
                your doorstep, so you can enjoy the
                taste of fresh fruit without ever leaving your home. </p>
            <p class="order-info-text-wrap__item">Whether you're looking for a healthy snack or a thoughtful
                gift, our fruit baskets are the perfect
                choice.</p>
        </div>

    </div>
</section>