<section class="catalog">
    <div class="container">
        <h3 class="section-title">Organic vegetables</h3>
        <p class="catalog-text">Our organic vegetables are hand-picked from local farms and delivered straight
            to your doorstep,
            ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="catalog-list">
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Carrot</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/carrot.png" alt="carrot" width="292"
                            height="223">
                    </div>

                    <p class="catalog-list__item-price">100 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Brussel sprouts</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/brussel.png" alt="brussel" width="230"
                            height="230">
                    </div>
                    <p class="catalog-list__item-price">80 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Tomato</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/tomato.png" alt="tomato" width="278"
                            height="176">
                    </div>
                    <p class="catalog-list__item-price">40 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Eggplant</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/eggplant.png" alt="eggplant" width="194"
                            height="193">
                    </div>
                    <p class="catalog-list__item-price">60 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Sweet potatoes</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/potatoes.png" alt="potatoes" width="265"
                            height="203">
                    </div>
                    <p class="catalog-list__item-price">80 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Leek</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/leek.png" alt="leek" width="265"
                            height="203">
                    </div>
                    <p class="catalog-list__item-price">50 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Mushrooms</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/mushrooms.png" alt="mushrooms" width="325"
                            height="183">
                    </div>
                    <p class="catalog-list__item-price">40 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Corn</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/corn.png" alt="corn" width="265"
                            height="203">
                    </div>
                    <p class="catalog-list__item-price">60 UAH / kg</p>
                </a>
            </li>
            <li class="catalog-list__item">
                <a href="#" class="catalog-list__item-link">
                    <p class="catalog-list__item-name">Radish</p>
                    <div class="catalog-list__item-img-wrap">
                        <img class="catalog-list__item-img" src="images/photo/radish.png" alt="corn" width="316"
                            height="181">
                    </div>
                    <p class="catalog-list__item-price">90 UAH / kg</p>
                </a>
            </li>
        </ul>
        <button class="start-button catalog-button" type="button">Order</button>
    </div>
</section>