<section class="start">
    <div class="container">
        <div class="start-wrapper">
            <div>
                <ul class="start-user-list">
                    <li class="start-user-list__item"><img class="start-user-list__item-photo"
                            src="images/photo/user1.png" alt="user1"></li>
                    <li class="start-user-list__item"><img class="start-user-list__item-photo"
                            src="images/photo/user2.png" alt="user2"></li>
                    <li class="start-user-list__item"><img class="start-user-list__item-photo"
                            src="images/photo/user3.png" alt="user3"></li>
                </ul>
                <h2 class="start-title">Organic <span class="start-title--italic">vegetables</span> to your diet
                    today!</h2>
                <p class="start-text">Our expertly curated vegetable baskets are made with the freshest, highest
                    quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality
                    vegetables in expertly curated vegetable baskets delivered to you.</p>
                <button class="start-button"><span class="start-button--text">shop now</span></button>
            </div>
            <div><img class="start-image" src="images/photo/girl.png" alt="girl" width="303" height="236">
                <ul class="start-list-button">
                    <li class="start-list-button__item"><a class="start-list-button__item-link" href="#">Organic</a>
                    </li>
                    <li class="start-list-button__item"><a class="start-list-button__item-link" href="#">Products</a>
                    </li>
                    <li class="start-list-button__item"><a class="start-list-button__item-link" href="#">Basket</a></li>
                    <li class="start-list-button__item"><a class="start-list-button__item-link" href="#">Vegetables</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>