<section class="recall">
    <div class="container">
        <div class="recall-container-flex">
            <div class="recall-container-flex__item">
                <h3 class="section-title recall-title--position">Fresh Harvest Box has got you covered</h3>
                <p class="recall-text">Our boxes are packed with delicious, nutritious vegetables, perfect for
                    anyone looking to eat
                    healthier or support local farmers. Order your box today and start enjoying the best that
                    nature has
                    to offer!</p>
                <div class="recall-container">
                    <input class="recall-input" type="text">
                    <button class="recall-button" type="button" disabled="true">Recall</button>
                </div>
            </div>
            <picture>
                <source media="(min-width: 1200px)" srcset="images/photo/girl3-desctop.png" width="525" height="499">
                <source media="(min-width: 768px)" srcset="images/photo/girl3-tablet.png" width="704" height="463">

                <img class="recall-photo" src="images/photo/girl3.png" alt="girl" width="335" height="388">
            </picture>
        </div>
    </div>
</section>