<section class="order-steps">
    <div class="container">
        <div class="order-steps--bg">
            <h3 class="section-title order-steps--title">3 Easy Steps for Buying Fresh Vegetables</h3>
            <ol class="order-steps-list">
                <li class="order-steps-list__item">Just choose the vegetable you want to order by clicking on
                    the checkboxes next to it.</li>
                <li class="order-steps-list__item">Click on the basket and fill out the form.</li>
                <li class="order-steps-list__item">Sit back and relax! Your fresh vegetables basket will be
                    delivered.</li>
            </ol>
            <img class="order-steps-img" src="images/photo/girl2.png" alt="little_girl" width="258" height="319">
        </div>
    </div>
    <div class="order-steps-tickers-wrap tickers-blocks">
        <div class="tickers-blocks-wrap tickers--one">
            <p class="tickers-blocks-wrap__item">Discount up to
                40%! Taste the vitamins and keep your health</p>
        </div>
        <div class="tickers-blocks-wrap tickers--two">
            <p class="tickers-blocks-wrap__item">Discount up to
                40%! Taste the vitamins and keep your health</p>
        </div>
    </div>
</section>